@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");

:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --title: #313131;
  --text: #b6b6b6;

  --background: #f3f5f7;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: boder-box;
}

body {
  background-color: var(--background);
}

*::selection {
  background: #3f9ddc;
  color: rgb(255, 255, 255);
}

.article {
  background: var(--linear);
  padding: 35px 130px;
}

.article__link {
  text-decoration: none;
  color: var(--white);
}

nav {
  color: var(--white);
  font-family: "Lexend Deca", sans-serif;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  color: var(--white);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  padding: 10px 0 10px 15px;
  width: 100%;
  outline: none;
}

input::placeholder {
  color: var(--white);
  opacity: 0.5;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background-color: var(--white);
  margin: 80px 30px;
  height: auto;
  width: 100%;
  font-family: "Lexend Deca", sans-serif;
  padding: 20px;
}

.card__top {
  display: flex;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  margin: 10px 0 15px 0;
  text-decoration: none;
  color: var(--title);
}

.card__text {
  font-size: 15px;
  color: var(--text);
  margin: 5px 0;
}

.date {
  color: var(--text);
  font-size: 0.9rem;
}

.heart {
  color: var(--blue-dark);
}
